@media screen and (max-width: 576px) {
    nav, .menu ul,.distination-image-1,.distination-image-2, .distination-image-3,.tour-content, .newsletter{
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;

    }
   .loog, .menu ul li{
        margin-bottom: 10px;
        
       
    }
    .logo{
        align-items: center;
        
    }
    .logo h1{
        font-size: 20px;
        
    }
    .distination-image-3 {
        flex-direction: column;

        .choose-pupple {
            display: grid;
            grid-template-columns: repeat(1fr);
            
        }
    }
}